{% extends '@Main/base.html.twig' %}

{% block body %}
    <h1>Aboutu</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aboutU.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ aboutU.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ aboutU.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('aboutus_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('aboutus_edit', { 'id': aboutU.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
