{% trans_default_domain 'FOSUserBundle' %}


<div class="" id="login-modal">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <img class="logo" src="{{ asset('bundles/main/images/ZV-volledigetext-2.png') }}">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                    {% if error %}
                        <div class="alert alert-danger" role="alert">Uw e-mail en/of wachtwoord is onjuist.</div>
                    {% endif %}
                <input type="email" placeholder="E-mailadres" id="username" name="_username" value="{{ last_username }}" required="required" />

                <input type="password" placeholder="wachtwoord" id="password" name="_password" required="required" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Onthoud mijn gegevens</label>

                <input type="submit" id="_submit" class="btn btn-lg" name="_submit" value="Inloggen" />
            </form>

            <div class="login-help">
                <a href="{{ path('fos_user_registration_register') }}">Heeft u nog geen account? Klik <b>hier</b> om te registreren.</a>
            </div>
        </div>
    </div>
</div>