{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="" id="login-modal">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login</h1><br>
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <input type="text" placeholder="gebruikersnaam" id="username" name="_username" value="{{ last_username }}" required="required" />

                <input type="password" placeholder="wachtwoord" id="password" name="_password" required="required" />

                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                <input type="submit" id="_submit" class="btn btn-lg" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>

            <div class="login-help">
                <a href="{{ path('fos_user_registration_register') }}">Heeft u nog geen account? Klik <b>hier</b> om te registreren.</a>
            </div>
        </div>
    </div>
</div>