{% extends '@Main/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/button.css') }}">
{% endblock %}

{% block body %}
    <h1>Choice</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ choice.id }}</td>
            </tr>
            <tr>
                <th>Questionid</th>
                <td>{{ choice.questionId }}</td>
            </tr>
            <tr>
                <th>Choice</th>
                <td>{{ choice.choice }}</td>
            </tr>
        </tbody>
    </table>

            <a class="btn btn-default" href="{{ path('choice_index') }}">Back to the list</a>

            <a class="btn btn-primary" href="{{ path('choice_edit', { 'id': choice.id }) }}">Edit</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}

{% endblock %}
