{% extends '@Main/base.html.twig' %}

{% block body %}
    <h1>Company</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ company.userId }}</td>
            </tr>
            <tr>
                <th>Companyname</th>
                <td>{{ company.companyname }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-default" href="{{ path('company_index') }}">Terug naar overzicht</a>

        <a class="btn btn-primary" href="{{ path('company_edit', { 'id': company.id }) }}">Wijzigen</a>

        {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Verwijderen">
        {{ form_end(delete_form) }}

{% endblock %}
