{% extends "@Main/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/landingpagina.css') }}">
{% endblock %}

{% block body %}
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline" >Welkom bij Zoetermeer Vooruit</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo1geelaccent.png') }}">
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Enquetes</h2>
                        <p>Leuk dat u een kijkje wilt nemen bij onze enquetes, meedoen?<br>
                            Klik dan op de enquete om deel te nemen aan de meest actuele enquetes!</p>
                        <a href="{{ path('enquete_index') }}" class="btn btn-primary btn-xs">Enquete</a>

                    </div>
                </div>
            </div>
            <p class="text-center"><b>Enquetes</b></p>
        </div>
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo2-7.png') }}">
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <div>
                            <a href="{{ path('info_index') }}"><img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enqueteinfoknop.png') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center"><b>Informatie</b></p>
        </div>
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src={{ asset('bundles/main/images/enquetelogo3-aangepast.png') }}>
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Contact</h2>
                            Zoetermeer Vooruit<br>
                            Juliette Meurs-Troch<br>
                            Tel: 06 55 72 72 74<br>
                            info@zoetermeervooruit.nl<br>
                            <a href="mailto:info@zoetermeervooruit.nl" target="_top">Stuur een mail!</a>
                            <a class="twitter-follow-button"
                                        href="https://twitter.com/079Vooruit"
                                        data-size="large">
                                Follow @079Vooruit</a>
                        </p>
                    </div>
                </div>
            </div>
            <p class="text-center"><b>Contact</b></p>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            {% for info in infos %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>{{ info.name }}</h3>
                                    {{ info.description|striptags|truncate(450, true, "...")|raw }}<br>
                                    <a href="{{ path('info_show', { 'id': info.id }) }}" class="btn btn-info btn-xs">Meer lezen</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('info_edit', { 'id': info.id }) }}" class="btn btn-primary btn-xs">Wijzigen</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footerleft ">
                    <div class="logofooter">Zoetermeer Vooruit</div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
                    <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
                    <p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>

                </div>
                <div class="col-md-4 col-sm-12 paddingtop-bottom">
                    <div class="fb-page" data-href="https://www.facebook.com/ZoetermeerVooruit/?fref=ts" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 paddingtop-bottom twitter-line">
                    <a class="twitter-timeline" href="https://twitter.com/079Vooruit">Tweets by ZoetermeerVooruit</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p>© 2017 - Ontwikkeld door Peter Duits</p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul">
                    <li><a href="{{ path('main_default_index') }}">Zoetermeer Vooruit</a></li>
                    <li><a href="{{ path('info_index') }}">Info</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Faq's</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}