{% extends "@Main/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/landingpagina.css') }}">
{% endblock %}

{% block body %}

    {#Social Media, negeer dit maar niet verwijderen#}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.9&appId=207155752713615";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v2.9&appId=207155752713615";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    {#--------------------------------------------------------------------------------------------------#}

    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline" >Welkom bij Zoetermeer Vooruit</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo1geelaccent.png') }}">
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Enquetes</h2>
                        <p>Leuk dat u een kijkje wilt nemen bij onze enquetes, meedoen?<br>
                            Klik dan op de enquete om deel te nemen aan de meest actuele enquetes!</p>
                        <a href="{{ path('enquete_index') }}" class="btn btn-primary btn-xs">Enquete</a>

                    </div>
                </div>
            </div>
            <p class="text-center"><b>Enquetes</b></p>
        </div>
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo2-7.png') }}">
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <div>
                            <a href="{{ path('info_index') }}"><img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enqueteinfoknop.png') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center"><b>Informatie</b></p>
        </div>
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src={{ asset('bundles/main/images/enquetelogo3-aangepast.png') }}>
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Contact</h2>
                        <p>
                            Zoetermeer Vooruit<br>
                            Juliette Meurs-Troch<br>
                            info@zoetermeervooruit.nl<br>
                            Tel: 06 55 72 72 74<br>
                            Twitter: <a class="twitter-follow-button"
                                        href="https://twitter.com/079Vooruit"
                                        data-size="large">
                                Follow @079Vooruit</a>
                        </p>
                    </div>
                </div>
            </div>
            <p class="text-center"><b>Contact</b></p>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">
            {% for info in infos %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>{{ info.name }}</h3>
                                    {{ info.description|striptags|truncate(450, true, "...")|raw }}<br>
                                    <a href="{{ path('info_show', { 'id': info.id }) }}" class="btn btn-info btn-xs">Meer lezen</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('info_edit', { 'id': info.id }) }}" class="btn btn-primary btn-xs">Wijzigen</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="fb-page" data-href="https://www.facebook.com/ZoetermeerVooruit/?fref=ts" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ZoetermeerVooruit/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ZoetermeerVooruit/?fref=ts">Zoetermeer Vooruit</a></blockquote></div>
        </div>
    </div>

{% endblock %}