{% extends "@Main/base.html.twig" %}

{% block title%}Hello World!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/landingpagina.css') }}">
{% endblock %}

{% block body %}

    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline" >Welkom bij Zoetermeer Vooruit</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo1geelaccent.png') }}">
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Enquetes</h2>
                        <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo2-aangepast.png') }}">
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Over ons</h2>
                        <p>Zoetermeer Vooruit is een lokale politieke partij.
                            Fractievoorzitter en partijvoorzitter is Juliette Meurs-Troch.
                            Sinds 2014 zit zij als raadslid in de gemeenteraad van Zoetermeer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src={{ asset('bundles/main/images/enquetelogo3-aangepast.png') }}>
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Contact</h2>
                        <p>
                            Zoetermeer Vooruit<br>
                            Juliette Meurs-Troch<br>
                            Facebook: ZoetermeerVooruit<br>
                            Twitter: @079Vooruit<br>
                            info@zoetermeervooruit.nl<br>
                            tel. 06.55.72.72.74<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="stretch"></span>
        <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2>Statistieken</h2>
            <div class="table table-bordered"><p>Moet er in Zoetermeer een Intercity station komen?<br>
                Ja - 87%<br>
                Nee - 10%<br>
                Weet ik niet - 3%</p>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>Contact</h2>
            <address>
                <strong>Zoetermeer Vooruit</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
            </address>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>
{% endblock %}