{% extends "@Main/base.html.twig" %}

{% block title%}Hello World!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/landingpagina.css') }}">
{% endblock %}

{% block body %}

    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Welkom bij Zoetermeer Vooruit</h1>
                </div>
            </div>
        </div>
    </header>

        <div class="row">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                <div class="col-sm-4">
                    <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo1-5.png') }}">
                </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Marketing Box #1</h2>
                        <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
                    </div>
                </div>
            </div>
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div class="col-sm-4">
                            <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo2-5.png') }}">
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Marketing Box #1</h2>
                        <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
                    </div>
                </div>
            </div>
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div class="col-sm-4">
                            <img class="img-circle img-responsive img-center" src={{ asset('bundles/main/images/enquetelogo3.png') }}>
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Marketing Box #1</h2>
                        <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Over ons</h2>
                <p>Zoetermeer Vooruit is een lokale politieke partij. <br>
                    Fractievoorzitter en partijvoorzitter is Juliette Meurs-Troch. <br>
                    Sinds 2014 zit zij als raadslid in de gemeenteraad van Zoetermeer.</p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Zoetermeer Vooruit</strong>
                    <br>3481 Melrose Place
                    <br>Beverly Hills, CA 90210
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
                </address>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>
{% endblock %}