{% extends "@Main/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/landingpagina.css') }}">
{% endblock %}

{% block body %}

    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline" >Welkom bij Zoetermeer Vooruit</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo1geelaccent.png') }}">
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Enquetes</h2>
                        <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
                    </div>
                </div>
            </div>
            <p style="text-align: center">Enquete's</p>
        </div>
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enquetelogo2-7.png') }}">
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <div>
                            <a href="{{ path('info_index') }}"><img class="img-circle img-responsive img-center" src="{{ asset('bundles/main/images/enqueteinfoknop.png') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align: center">Informatie</p>
        </div>
        <div class="col-sm-4">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <!-- front content -->
                        <div>
                            <img class="img-circle img-responsive img-center" src={{ asset('bundles/main/images/enquetelogo3-aangepast.png') }}>
                        </div>
                    </div>
                    <div class="back">
                        <!-- back content -->
                        <h2>Contact</h2>
                        <p>
                            Zoetermeer Vooruit<br>
                            Juliette Meurs-Troch<br>
                            Facebook: ZoetermeerVooruit<br>
                            Twitter: @079Vooruit<br>
                            info@zoetermeervooruit.nl<br>
                            tel. 06.55.72.72.74<br>
                        </p>
                    </div>
                </div>
            </div>
            <p style="text-align: center">Contact</p>
        </div>
    </div>
    <span class="stretch"></span>
        <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2>Statistieken</h2>
            <div>
                <p>
                    Moet er in Zoetermeer een Intercity station komen?<br>
                    Ja - 87%<br>
                    Nee - 10%<br>
                    Weet ik niet - 3%
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>
{% endblock %}