{% extends '@Main/base.html.twig' %}

{% block body %}
    {% if is_granted ('ROLE_ADMIN') %}
    <h1>Enquete edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input id="button" class="btn btn-primary" type="submit" value="Edit" />
    {{ form_end(edit_form) }}


            <a id="button" class="btn btn-default" href="{{ path('enquete_index') }}">Back to the list</a>

            {{ form_start(delete_form) }}
                <input id="button" class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    {% else %}
        <div>
            <h3>Helaas, u kunt deze pagina niet bekijken.</h3>
            <p>Log in als Administrator om de pagina weer te geven.</p>
        </div>
    {% endif %}
{% endblock %}
