{% extends '@Main/base.html.twig' %}

{% block body %}
    {% if app.user %}
        <h1 style="margin-bottom: 40px">Enquete overzicht
        {% if is_granted ('ROLE_ADMIN') %}
            <a class="pull-right btn btn-success" href="{{ path('enquete_new') }}">Maak een nieuwe enquete</a>
        {% endif %}
        </h1>

        <div class="row">
            {% for enquete in enquetes %}
                {% if is_granted ('ROLE_ADMIN') %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <h3>{{ enquete.title }}</h3>
                                        <p>{{ enquete.description }}</p>
                                        <p>{% if enquete.startDate %}{{ enquete.startDate|date('d-m-y H:i') }}{% endif %}</p>
                                        <p>{% if enquete.endDate %}{{ enquete.endDate|date('d-m-y H:i') }}{% endif %}</p>
                                        {% if is_granted ('ROLE_ADMIN') %}
                                        <p>
                                            <a href="{{ path('enquete_edit', { 'id': enquete.id }) }}" class="btn btn-primary" role="button">Wijzigen</a>
                                        {% endif %}
                                            <a href="{{ path('enquete_show', { 'id': enquete.id }) }}" class="btn btn-info" role="button">Weergeven</a>
                                        </p>
                                    </div>
                                    <div class="col-sm-2">
                                        {%  if enquete.published %} <img class="vinkje" src="{{ asset('bundles/main/images/vinkje.png') }}"/>{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif app.user %}
                    {% if enquete.published %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h3>{{ enquete.title }}</h3>
                                    <p>{{ enquete.description }}</p>
                                    {% if is_granted ('ROLE_ADMIN') %}
                                    <p>
                                        <a href="{{ path('enquete_edit', { 'id': enquete.id }) }}" class="btn btn-primary" role="button">Wijzigen</a>
                                        {% endif %}
                                        <a href="{{ path('enquete_show', { 'id': enquete.id }) }}" class="btn btn-info" role="button">Weergeven</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <div>
            <h3>Helaas, u kunt deze pagina niet bekijken.</h3>
            <p>Log in als Administrator om de pagina weer te geven.</p>
        </div>
    {% endif %}
{% endblock %}
