{% extends '@Main/base.html.twig' %}

{% block body %}
    <h1>Enquetes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Published</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enquete in enquetes %}
            <tr>
                <td><a href="{{ path('enquete_show', { 'id': enquete.id }) }}">{{ enquete.id }}</a></td>
                <td>{{ enquete.title }}</td>
                <td>{{ enquete.description }}</td>
                <td>{% if enquete.startDate %}{{ enquete.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if enquete.endDate %}{{ enquete.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ enquete.published }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('enquete_show', { 'id': enquete.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('enquete_edit', { 'id': enquete.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enquete_new') }}">Create a new enquete</a>
        </li>
    </ul>
{% endblock %}
