{% extends '@Main/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/button.css') }}">
{% endblock %}

{% block body %}
    {% if is_granted ('ROLE_ADMIN') %}
    <h1>Enquete</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enquete.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ enquete.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ enquete.description }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if enquete.startDate %}{{ enquete.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if enquete.endDate %}{{ enquete.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ enquete.published }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <hr>
        {% set q = 1 %}
        {% set a = 1 %}
        {% for question in questions %}
            <p><b>Vraag {{ q }}: {{ question.title }}</b></p>
            {% for choice in choices if choice.questionId == question.id %}
                <div>
                    <p>Antwoord {{a}}: {{ choice.choice }}</p>
                </div>
                {% set a = a+1 %}
            {% endfor %}
            {% set a = 1 %}
            {% set q = q+1 %}
            <hr>

        {% endfor %}
    </div>

        <a id="button" class="btn btn-default" href="{{ path('enquete_index') }}">Terug naar overzicht</a>

        <a id="button" class="btn btn-primary" href="{{ path('enquete_edit', { 'id': enquete.id }) }}">Wijzigen</a>

        {{ form_start(delete_form) }}
            <input id="button" class="btn btn-danger" type="submit" value="Verwijderen">
        {{ form_end(delete_form) }}

    {% elseif app.user %}
        <div class="col-sm-6">
            <hr>
        <h2>{{ enquete.title }}</h2>
        <p>{{ enquete.description }}</p>
            <form name="enquete-{{ enquete.id }}" method="post">
                {% for question in questions %}
                    <hr>
                    <p><b>{{ question.title }}</b></p>
                    {% for choice in choices if choice.questionId == question.id %}
                        <div class="radio">
                            <label><input type="radio" name="{{ question.id }}">{{ choice.choice }}</label>
                        </div>
                    {% endfor %}

                {% endfor %}
                    <hr>
                    <input class="btn btn-success" type="submit" value="Versturen" style="margin-bottom: 20px">
            </form>
        </div>
    {% else %}
        <div>
            <h3>Helaas, u kunt deze pagina niet bekijken.</h3>
            <p>Log in als Administrator om de pagina weer te geven.</p>
        </div>
    {% endif %}
{% endblock %}
