{% extends '@Main/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/button.css') }}">
{% endblock %}

{% block body %}
    {% if app.user%}
    <h1>Enquete</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enquete.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ enquete.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ enquete.description }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if enquete.startDate %}{{ enquete.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if enquete.endDate %}{{ enquete.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ enquete.published }}</td>
            </tr>
        </tbody>
    </table>
        <a id="button" class="btn btn-default" href="{{ path('enquete_index') }}">Back to the list</a>

        <a id="button" class="btn btn-primary" href="{{ path('enquete_edit', { 'id': enquete.id }) }}">Edit</a>

        {{ form_start(delete_form) }}
            <input id="button" class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}

    {% else %}
        <div>
            <h3>Helaas, u kunt deze pagina niet bekijken.</h3>
            <p>Log in als Administrator om de pagina weer te geven.</p>
        </div>
    {% endif %}
{% endblock %}
