{% extends '@Main/base.html.twig' %}

{% block title %}
        {% if is_granted ('ROLE_ADMIN') %}
            Bekijk {{ enquete.title }}
        {% else %}
            Enquete {{ enquete.title }}
        {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/button.css') }}">
{% endblock %}

{% for question in questions %}
    {% for choice in choices if choice.questionId == question.id %}
        {% for answer in answers %}
            {% if answer.choiceId == choice.id %}
                {% set show = false %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}

{% block body %}
    {% if is_granted ('ROLE_ADMIN') %}
    <h1>Enquete</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enquete.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ enquete.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ enquete.description }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if enquete.startDate %}{{ enquete.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if enquete.endDate %}{{ enquete.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ enquete.published }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <hr>
        {% set q = 1 %}
        {% for question in questions %}
            {% set total = 0 %}
            {% for choice in choices if choice.questionId == question.id %}
                {% for answer in answers %}
                    {% if answer.choiceId == choice.id %}
                        {% set total = total + 1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <p>Vraag {{ q }}: <b>{{ question.title }}</b></p>
            {% set a = 1 %}
            {% for choice in choices if choice.questionId == question.id %}
                {% set count = 0 %}
                {% for answer in answers %}
                    {% if answer.choiceId == choice.id %}
                        {% set count = count + 1 %}
                    {% endif %}
                {% endfor %}
                <ul>
                    <li>
                        <b> {{ choice.choice }} </b>
                        <div class="progress" style="width: 100px;">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ count/total*100 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ count/total*100 }}%">
                                {{ (count/total*100)|number_format(0) }}%
                            </div>
                        </div>
                        Aantal stemmen: {{ count }}
                    </li>
                </ul>
                {% set a = a+1 %}
            {% endfor %}
            {% set q = q+1 %}
            <hr>

        {% endfor %}
    </div>

        <a id="button" class="btn btn-default" href="{{ path('enquete_index') }}">Terug naar overzicht</a>

        <a id="button" class="btn btn-primary" href="{{ path('enquete_edit', { 'id': enquete.id }) }}">Wijzigen</a>

        {{ form_start(delete_form) }}
            <input id="button" class="btn btn-danger" type="submit" value="Verwijderen">
        {{ form_end(delete_form) }}

    {% elseif app.user %}
        {% if show == true %}
            <div class="col-sm-6">
                <hr>
            <h2>{{ enquete.title }}</h2>
            <p>{{ enquete.description }}</p>
                <form name="enquete-{{ enquete.id }}" method="post">
                    {% for question in questions %}
                        <hr>
                        <p><b>{{ question.title }}</b></p>
                        {% for choice in choices if choice.questionId == question.id %}
                            <div class="radio">
                                <label><input type="radio" name="radio-{{ loop.parent.loop.index }}" value="{{ choice.id }}">{{ choice.choice }}</label>
                            </div>
                        {% endfor %}

                    {% endfor %}
                        <hr>
                        <input class="btn btn-success" type="submit" value="Versturen" style="margin-bottom: 20px">
                </form>
            </div>
        {% else %}
            <div class="col-sm-6">
                <h1>Hartelijk bedankt!</h1>
                <p>U heeft deze enquete al een keer ingevuld.</p>
                <p>Klik op de knop hieronder om terug te gaan naar het overzicht.</p>
                <a class="btn btn-info btn-lg" href="{{ path('enquete_index') }}">Terug naar overzicht</a>
            </div>
        {% endif %}
    {% else %}
        <div>
            <h3>Helaas, u kunt deze pagina niet bekijken.</h3>
            <p>Log in als Administrator om de pagina weer te geven.</p>
        </div>
    {% endif %}
{% endblock %}
