{% extends '@Main/base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/button.css') }}">
{% endblock %}

{% block body %}
    <h1>{{ fractie.name }}</h1>

    <p>{{ fractie.description| raw }}</p>



            <a class="btn btn-default" href="{{ path('fractie_index') }}">Terug naar overzicht</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('fractie_edit', { 'id': fractie.id }) }}">Wijzigen</a>

                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Verwijderen">
                {{ form_end(delete_form) }}
            {% endif %}
{% endblock %}
