{% extends '@Main/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/button.css') }}">
{% endblock %}

{% block body %}
    {% if is_granted ("ROLE_ADMIN") %}
    <h1>Question edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="opslaan" />
    {{ form_end(edit_form) }}


            <a class="btn btn-default" href="{{ path('question_index') }}">Terug naar overzicht</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Verwijderen">
            {{ form_end(delete_form) }}

    {% else %}
        <div>
            <h3>Pagina niet gevonden</h3>
            <p>Deze pagina is niet voor u geschikt</p>
        </div>
    {% endif %}
{% endblock %}
