{% extends '@Main/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/button.css') }}">
{% endblock %}

{% block body %}
    {% if is_granted ("ROLE_ADMIN") %}
    <h1>Vraag aanmaken</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Opslaan" />
    {{ form_end(form) }}


            <a class="btn btn-default" href="{{ path('question_index') }}">Terug naar overzicht</a>

    {% else %}
        <div>
            <h3>Pagina niet gevonden</h3>
            <p>Deze pagina is niet voor u geschikt</p>
        </div>
    {% endif %}
{% endblock %}
