{% extends "@Main/base.html.twig" %}

{% block body %}
    {% if is_granted ('ROLE_ADMIN') %}

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>Enquete aanmaken</h3>
                            <a href="{{ path('enquete_new') }}" class="btn btn-success" role="button">+ Enquete</a>
                            <a href="{{ path('enquete_index') }}" class="btn btn-default" role="button">Ga naar enquete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>Vraag aanmaken</h3>
                        <a href="{{ path('question_new') }}" class="btn btn-success" role="button">+ Vraag</a>
                        <a href="{{ path('question_index') }}" class="btn btn-default" role="button">Ga naar vragen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>Antwoord aanmaken</h3>
                        <a href="{{ path('choice_new') }}" class="btn btn-success" role="button">+ Antwoord</a>
                        <a href="{{ path('choice_index') }}" class="btn btn-default" role="button">Ga naar antwoorden</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div>
            <h3>Helaas, u kunt deze pagina niet bekijken.</h3>
            <p>Log in als Administrator om de pagina weer te geven.</p>
        </div>
    {% endif %}

{% endblock %}