{% extends '@Main/base.html.twig' %}

{% block body %}
    <div class="container">
        {% if is_granted ('ROLE_ADMIN') %}
        <a class="btn btn-success" href="{{ path('raadswerk_new') }}">+ Nieuw bericht aanmaken</a>
        {% endif %}

        <h1>Raadswerk</h1>
        <div class="row">
            {% for raadswerk in raadswerks %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>{{ raadswerk.name }}</h3>
                                    {{ raadswerk.description|striptags|truncate(450, true, "...")|raw }}<br>
                                    <a href="{{ path('raadswerk_show', { 'id': raadswerk.id }) }}" class="btn btn-info btn-xs">Meer lezen</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('raadswerk_edit', { 'id': raadswerk.id }) }}" class="btn btn-primary btn-xs">Aanpassen</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
