{% extends '@Main/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/main/css/button.css') }}">
{% endblock %}

{% block body %}
    {#{% if is_granted ('ROLE_ADMIN') %}#}
    <div class="container">
        <h1>{{ raadswerk.name }}</h1><br>

        <p>{{ raadswerk.description|raw}}</p>

        <a class="btn btn-default" href="{{ path('raadswerk_index') }}">Terug naar overzicht</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('raadswerk_edit', { 'id': raadswerk.id }) }}">Wijzigen</a>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Verwijderen">
            {{ form_end(delete_form) }}
        {% endif %}
    </div>
{% endblock %}
