{% extends '@Main/base.html.twig' %}

{% block body %}
    <h1>Antwoordenlijst</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Choiceid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td><a href="{{ path('answer_show', { 'id': answer.id }) }}">{{ answer.id }}</a></td>
                <td>{{ answer.userId }}</td>
                <td>{{ answer.choiceId }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('answer_show', { 'id': answer.id }) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
