{% extends '@Main/base.html.twig' %}

{% block body %}
    {% if is_granted ('ROLE_ADMIN') %}
    <h1>Antwoordenlijst</h1>
    <div id="scroll">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Choiceid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td><a href="{{ path('answer_show', { 'id': answer.id }) }}">{{ answer.id }}</a></td>
                <td>{{ answer.userId }}</td>
                {% for user in users %}
                    {% if user.id == answer.userId %}
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                {% endfor %}
                <td>{{ answer.userId }}</td>
                <td>{{ answer.choiceId }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('answer_show', { 'id': answer.id }) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% else %}
        <div>
            <h3>Helaas, u kunt deze pagina niet bekijken.</h3>
            <p>Log in als Administrator om de pagina weer te geven.</p>
        </div>
    {% endif %}
    
{% endblock %}
