{% extends '@Main/base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Informatiepagina</h1>
            <div class="row">
                {% for info in infos %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3>{{ info.name }}</h3><br>
                                    {{ info.description|striptags|truncate(350, true, "...")|raw }}<br>
                                    <a href="{{ path('info_show', { 'id': info.id }) }}" class="btn btn-info btn-xs">Meer lezen</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('info_edit', { 'id': info.id }) }}" class="btn btn-primary btn-xs">edit</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('info_new') }}" class="btn btn-success"> + Info</a>
        {% endif %}
    </div>

{% endblock %}
