{% extends '@Main/base.html.twig' %}

{% block body %}
    <h1>Standpunten Wijzigen</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Wijzigen" />
    {{ form_end(edit_form) }}

    <a class="btn btn-default" href="{{ path('raadswerk_index') }}">Terug naar index</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Verwijderen">
            {{ form_end(delete_form) }}

{% endblock %}
