{% extends '@Main/base.html.twigwig' %}

{% block body %}
    <h1>Standpunten</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ standpunten.id }}</td>
            </tr>
            <tr>
                <th>Titel</th>
                <td>{{ standpunten.title }}</td>
            </tr>
            <tr>
                <th>Beschrijving</th>
                <td>{{ standpunten.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('standpunten_index') }}">Terug naar overzicht</a>
        </li>
        <li>
            <a href="{{ path('standpunten_edit', { 'id': standpunten.id }) }}">Aanpassen</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
